In [1]:
import pandas as pd
import numpy as np

In [2]:
train1=pd.read_excel("Data_Train.xlsx")
test1=pd.read_excel("Test_set.xlsx")

In [3]:
train=train1
test=test1

In [4]:
train1.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [7]:
train.shape,test.shape

((10683, 11), (2671, 10))

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [9]:
train["Airline"].nunique(),test["Airline"].nunique()

(12, 11)

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
label=LabelEncoder()
label.fit(train["Airline"])
train["Airline"]=label.transform(train["Airline"])
label.fit(test["Airline"])
test["Airline"]=label.transform(test["Airline"])

In [12]:
train['date']=train['Date_of_Journey'].str.split('/').str[0]
train['month']=train['Date_of_Journey'].str.split('/').str[1]
train['year']=train['Date_of_Journey'].str.split('/').str[2]

test['date']=test['Date_of_Journey'].str.split('/').str[0]
test['month']=test['Date_of_Journey'].str.split('/').str[1]
test['year']=test['Date_of_Journey'].str.split('/').str[2]

In [13]:
train['date']=train.date.astype(int)
train['month']=train.month.astype(int)
train['year']=train.year.astype(int)

In [14]:
test['date']=test.date.astype(int)
test['month']=test.month.astype(int)
test['year']=test.year.astype(int)

In [15]:
train=train.drop(['Date_of_Journey'],axis=1)
test=test.drop(['Date_of_Journey'],axis=1)

In [16]:
train['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [17]:
train['Destination'].nunique()

6

In [18]:

label.fit(train["Source"])
train["Source"]=label.transform(train["Source"])
label.fit(test["Source"])
test["Source"]=label.transform(test["Source"])

In [19]:

label.fit(train["Destination"])
train["Destination"]=label.transform(train["Destination"])
label.fit(test["Destination"])
test["Destination"]=label.transform(test["Destination"])

In [20]:
train["Route"]

0                    BLR → DEL
1        CCU → IXR → BBI → BLR
2        DEL → LKO → BOM → COK
3              CCU → NAG → BLR
4              BLR → NAG → DEL
                 ...
10678                CCU → BLR
10679                CCU → BLR
10680                BLR → DEL
10681                BLR → DEL
10682    DEL → GOI → BOM → COK
Name: Route, Length: 10683, dtype: object

In [21]:
train['r1']=train['Route'].str.split('→').str[0]
train['r2']=train['Route'].str.split('→').str[1]
train['r3']=train['Route'].str.split('→').str[2]
train['r4']=train['Route'].str.split('→').str[3]

In [22]:
test['r1']=test['Route'].str.split('→').str[0]
test['r2']=test['Route'].str.split('→').str[1]
test['r3']=test['Route'].str.split('→').str[2]
test['r4']=test['Route'].str.split('→').str[3]

In [23]:
train['r1'].fillna('none',inplace=True)
train['r2'].fillna('none',inplace=True)
train['r3'].fillna('none',inplace=True)
train['r4'].fillna('none',inplace=True)

test['r1'].fillna('none',inplace=True)
test['r2'].fillna('none',inplace=True)
test['r3'].fillna('none',inplace=True)
test['r4'].fillna('none',inplace=True)

In [24]:
train['r1']=label.fit_transform(train['r1'])
train['r2']=label.fit_transform(train['r2'])
train['r3']=label.fit_transform(train['r3'])
train['r4']=label.fit_transform(train['r4'])

test['r1']=label.fit_transform(test['r1'])
test['r2']=label.fit_transform(test['r2'])
test['r3']=label.fit_transform(test['r3'])
test['r4']=label.fit_transform(test['r4'])

In [25]:
train=train.drop(["Route"],axis=1)
test=test.drop(["Route"],axis=1)

In [26]:
train['Dep_Time']

0        22:20
1        05:50
2        09:25
3        18:05
4        16:50
         ...
10678    19:55
10679    20:45
10680    08:20
10681    11:30
10682    10:55
Name: Dep_Time, Length: 10683, dtype: object

In [27]:
train['Dep_hour']=train['Dep_Time'].str.split(':').str[0]
train['Dep_min']=train['Dep_Time'].str.split(':').str[1]

test['Dep_hour']=test['Dep_Time'].str.split(':').str[0]
test['Dep_min']=test['Dep_Time'].str.split(':').str[1]

In [28]:
train['Dep_min']

0        20
1        50
2        25
3        05
4        50
         ..
10678    55
10679    45
10680    20
10681    30
10682    55
Name: Dep_min, Length: 10683, dtype: object

In [29]:
train['Dep_hour']=train['Dep_hour'].astype('int')
train['Dep_min']=train['Dep_min'].astype('int')

test['Dep_hour']=test['Dep_hour'].astype('int')
test['Dep_min']=test['Dep_min'].astype('int')

In [30]:
train=train.drop(['Dep_Time'],axis=1)
test=test.drop(['Dep_Time'],axis=1)

In [31]:
train['Arrival_Time']

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [32]:
train['Arrival_hour']=train['Arrival_Time'].str.split(':').str[0]


test['Arrival_hour']=test['Arrival_Time'].str.split(':').str[0]

In [33]:
train['Arrival_hour']=train['Arrival_hour'].astype('int')
test['Arrival_hour']=test['Arrival_hour'].astype('int')

In [34]:
train=train.drop(['Arrival_Time'],axis=1)

In [35]:
test=test.drop(['Arrival_Time'],axis=1)

In [36]:
train['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object

In [37]:
train['Duration_h']=train['Duration'].str.split('h').str[0]
train['Duration_m']=train['Duration'].str.split('h').str[1]

test['Duration_h']=test['Duration'].str.split('h').str[0]
test['Duration_m']=test['Duration'].str.split('h').str[1]

In [38]:
train['Duration_h']

0         2
1         7
2        19
3         5
4         4
         ..
10678     2
10679     2
10680     3
10681     2
10682     8
Name: Duration_h, Length: 10683, dtype: object

In [39]:
train['Duration_m']

0         50m
1         25m
2
3         25m
4         45m
         ...
10678     30m
10679     35m
10680
10681     40m
10682     20m
Name: Duration_m, Length: 10683, dtype: object

In [40]:
train['Duration'].str.split('m').str[0]

0        2h 50
1        7h 25
2          19h
3        5h 25
4        4h 45
         ...
10678    2h 30
10679    2h 35
10680       3h
10681    2h 40
10682    8h 20
Name: Duration, Length: 10683, dtype: object

In [41]:
train['Duration_h']=train['Duration_h'].str.extract('(\d+)')
test['Duration_h']=test['Duration_h'].str.extract('(\d+)')

In [42]:
train['Duration_m']=train['Duration_m'].str.extract('(\d+)')
test['Duration_m']=test['Duration_m'].str.extract('(\d+)')

In [43]:
train['Duration_m'].fillna('0',inplace=True)
test['Duration_m'].fillna('0',inplace=True)

In [44]:
train['Duration_h']=train['Duration_h'].astype('int')
train['Duration_m']=train['Duration_m'].astype('int')

test['Duration_h']=test['Duration_h'].astype('int')
test['Duration_m']=test['Duration_m'].astype('int')

In [45]:
train=train.drop(['Duration'],axis=1)
test=test.drop(['Duration'],axis=1)

In [46]:

train['Total_Stops']

0        non-stop
1         2 stops
2         2 stops
3          1 stop
4          1 stop
           ...
10678    non-stop
10679    non-stop
10680    non-stop
10681    non-stop
10682     2 stops
Name: Total_Stops, Length: 10683, dtype: object

In [47]:
train['Total_Stops']=train['Total_Stops'].fillna(train['Total_Stops'].mode()[0])

In [48]:
train['Total_Stops']=train['Total_Stops'].replace('non-stop',0)

In [49]:

train['Total_Stops']=train['Total_Stops'].str.extract('(\d+)')

In [50]:
test['Total_Stops']=test['Total_Stops'].fillna(test['Total_Stops'].mode()[0])
test['Total_Stops']=test['Total_Stops'].replace('non-stop',0)
test['Total_Stops']=test['Total_Stops'].str.extract('(\d+)')

test['Total_Stops']=test['Total_Stops'].astype('float')
test['Total_Stops']=test['Total_Stops'].fillna(test['Total_Stops'].mean())

In [51]:

train['Total_Stops']=train['Total_Stops'].astype('float')

In [52]:
train['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [53]:
train=train.drop(['Additional_Info'],axis=1)
test=test.drop(['Additional_Info'],axis=1)

In [54]:
train.shape,test.shape

((10683, 17), (2671, 16))

In [55]:
train.isnull().sum()

Airline            0
Source             0
Destination        0
Total_Stops     3491
Price              0
date               0
month              0
year               0
r1                 0
r2                 0
r3                 0
r4                 0
Dep_hour           0
Dep_min            0
Arrival_hour       0
Duration_h         0
Duration_m         0
dtype: int64

In [56]:
train['Total_Stops']
train['Total_Stops']=train['Total_Stops'].fillna(train['Total_Stops'].mean())

In [57]:
from sklearn.preprocessing import MinMaxScaler

# Create an instance of the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the numerical columns of the data
scaler.fit(train.drop())

train=scaler.transform(train)
# Transform the numerical columns of the data using the scaler
#train[['Total_Stops', 'date', 'month', 'year', 'r1', 'r2', 'r3', 'r4', 'Dep_hour', 'Dep_min', 'Arrival_hour', 'Duration_h', 'Duration_m']] = scaler.transform(train[['Total_Stops', 'date', 'month', 'year', 'r1', 'r2', 'r3', 'r4', 'Dep_hour', 'Dep_min', 'Arrival_hour', 'Duration_h', 'Duration_m']])

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [58]:
y=train['Price']
x=train.drop(['Price'],axis=1)

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [61]:
x_train.isnull().sum()

Airline         0
Source          0
Destination     0
Total_Stops     0
date            0
month           0
year            0
r1              0
r2              0
r3              0
r4              0
Dep_hour        0
Dep_min         0
Arrival_hour    0
Duration_h      0
Duration_m      0
dtype: int64

In [62]:
y_train.info()

<class 'pandas.core.series.Series'>
Int64Index: 8546 entries, 8990 to 7270
Series name: Price
Non-Null Count  Dtype
--------------  -----
8546 non-null   int64
dtypes: int64(1)
memory usage: 133.5 KB

In [63]:
from sklearn.ensemble import DecisionTreeRegressor

ImportError: cannot import name 'DecisionTreeRegressor' from 'sklearn.ensemble' (C:\Users\pavan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\ensemble\__init__.py)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()
model.fit(x_train,y_train)

In [ ]:
y=model.predict(x_train)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_train,y)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [ ]:
base=RandomForestRegressor(n_estimators=100,random_state=42)

In [ ]:
base.fit(x_train,y_train)

In [ ]:
y=base.predict(test)

In [ ]:
r2_score(y_test,y)

In [ ]:
price_df= pd.DataFrame(y, columns=["Price"])
price_df.head()

In [ ]:
price_df.to_csv('Price_output.csv', index=False)

In [ ]:
from sklearn.ensemble import AdaBoostRegressor

In [ ]:
ada=AdaBoostRegressor(base,n_estimators=100,learning_rate=0.01)

In [ ]:
ada.fit(x_train,y_train)

In [ ]:
y=ada.predict(test)

In [ ]:
price_df= pd.DataFrame(y, columns=["Price"])
price_df.to_csv('Price_output.csv', index=False)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model=Sequential()
model.add(Dense(50,input_dim=16,activation='relu'))
model.add(Dense(40,activation='relu'))
model.add(Dense(50,activation='relu'))
model.add(Dense(59,activation='relu'))
model.add(Dense(49,activation='relu'))
model.add(Dense(1,activation='linear'))

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [ ]:
model.fit(x_train,y_train,batch_size=50,epochs=10)

In [ ]:
y=model.predict(test)

In [ ]:
price_df= pd.DataFrame(y, columns=["Price"])
price_df.to_csv('Price_output.csv', index=False)

In [64]:
import xgboost as xgb

In [ ]:
xg_reg = xgb.XGBRegressor()

In [ ]:
xg_reg.fit(x_train,y_train)

In [ ]:
y=xg_reg.predict(test)

In [ ]:
price_df= pd.DataFrame(y, columns=["Price"])
price_df.to_csv('Price_output.csv', index=False)

In [65]:
from sklearn.model_selection import GridSearchCV

In [66]:
param={'max_depth':[3,5,7],
        'min_child_weight':[1,2,3],
        'eta':[0.01,0.1,0.2],
        'subsample':[0.5,0.8,1],
      'colsample_bytree':[0.5,0.8,1],
       'gamma':[0,0.1,0.2],
      'alpha':[0,0.1,0.2],
      'lambda':[0,0.1,0.2]}

In [67]:
x=xgb.XGBRegressor(random_state=42)

In [68]:
g=GridSearchCV(x,param,cv=5)

In [ ]:
g.fit(x_train,y_train)

In [ ]:
f=xgb.XGBRegressor(random_state=42,g.best_params_)
f.fit(x_train,y_train)

In [ ]:
y=f.predict(test)

In [ ]:
price_df= pd.DataFrame(y, columns=["Price"])
price_df.to_csv('Price_output.csv', index=False)

In [ ]:
test.info()

In [ ]:
y=model.predict(test)

In [ ]:
y

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y)

In [ ]:
from sklearn.metrics import r2_score

# Define the neural network model
model = Sequential()
model.add(Dense(50, input_dim=16, activation='relu'))
model.add(Dense(30, activation='relu'))
model.add(Dense(1))

# Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')

# Fit the model to the training data
model.fit(x_train, y_train, epochs=50, batch_size=32)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the R-squared score on the test set
r2 = r2_score(y_test, y_pred)
print("R-squared score on test set: ", r2)

In [ ]:
test['y']=y

In [ ]:
y= y.rename(columns= {0:"SalePrice"})

In [ ]:
y.to_csv('sab.csv')

In [ ]:
y=pd.DataFrame(y)

In [ ]:
y